# Rules configuration
[*.cs]

dotnet_diagnostic.IDE1006.severity = none
dotnet_diagnostic.IDE0044.severity = none
dotnet_diagnostic.IDE0051.severity = none
dotnet_diagnostic.IDE0048.severity = none
dotnet_diagnostic.IDE0008.severity = none
dotnet_diagnostic.IDE0005.severity = none
dotnet_diagnostic.IDE0055.severity = none
dotnet_diagnostic.IDE0011.severity = none
dotnet_diagnostic.IDE0040.severity = none
dotnet_diagnostic.IDE0059.severity = none
dotnet_diagnostic.IDE0052.severity = none
dotnet_diagnostic.IDE0060.severity = none
dotnet_diagnostic.IDE0062.severity = none
dotnet_diagnostic.IDE0063.severity = none
dotnet_diagnostic.IDE0065.severity = none
dotnet_diagnostic.IDE0022.severity = none  # Convert to block body

[Assets/Packages/MyUnityCollection/**.cs]
generated_code = false

# Prevent analyzers from running in these directories
[Assets/Packages/**.cs]
generated_code = true
